.header {
  margin-bottom: 15px;
  border-radius: 6px;
  width: 100%;
  padding: 22px;
  box-sizing: border-box;
  display: flex;
  background-color: #fff;
  border: solid 1px #e6e6e6;
  justify-content: space-between;
}

.header_text {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #333;
  margin-bottom: 0;
}

.add_address {
  cursor: pointer;
}

.add_address:hover {
  text-decoration: underline;
}

.address_card {
  position: relative;
  float: left;
  cursor: pointer;
  width: 200px;
  margin: 20px 13px 10px 0;
  height: 150px;
}

.address_container {
  display: flex;
  padding: 10px 5px 10px 10px;
  flex-direction: column;
  line-height: 24px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  height: 90%;
  width: 90%;
  overflow: hidden;
}

.address_actions {
  padding: 0px 16px 8px 0px;
}

.radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
}
.address_line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90px;
}

.edit_icon {
  width: 15px;
  height: 16px;
}
